/* Header */
.header {
    display: grid;
    grid-template-columns: 1.6fr 1.7fr 1.1fr;
    align-items: center;
    padding: 92px 26px 89px;
}

.header__links-list {
    display: flex;
    gap: 32px;
}

.header__links-list-item {
    position: relative;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    font-size: 18px;
    text-transform: lowercase;
    white-space: nowrap;
    border-bottom: 1px #000000 solid;
}

.header__link_active {
    border-bottom: none;
}

.header__logo {
    display: block;
    justify-self: center;
    align-self: center;
    max-width: 140px;
    margin-left: -147px;
}

.header__logo-image {
    width: 100%;
}

.header__address {
    justify-self: start;
    font-style: inherit;
}

.address {
    font-style: inherit;
}

.address__item {
    display: block;
    font-size: 18px;
    line-height: 1.35;
}

.address__item_link {
    text-decoration: underline;
    text-underline-position: under;
}

/*Section cover*/
.cover {
    position: relative;
    padding: 165px 50px 51px;
    margin-bottom: 178px;
    background: no-repeat url(../images/cover.jpg) center / cover;
}

.cover__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #FFFFFF;
    font: bold 100px / 115px Raleway, sans-serif;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
    position: relative;
    z-index: 1;
}

.aligned-text_center {
    line-height: 1;
    text-align: center;
}

.aligned-text_right {
    line-height: 1;
    text-align: right;
    margin-left: 585px;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.cover__description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 79px;
    padding-top: 135px;
}

.cover__description-text {
    position: relative;
    z-index: 1;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 1.28;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    position: relative;
    z-index: 1;
    border: 1px #FFFFFF solid;
    padding: 12px 32px;
    color: #FFFFFF;
    font: normal 22px / 1.25 Raleway, sans-serif;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        color: #000000;
        background-color: #FFFFFF;
    }
}

/*Section lots*/
.lots {
    margin-bottom: 182px;
}

.lots__heading {
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    padding: 0 40px 27px;
}

.lots__card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    min-height: 563px;
    padding: 51px 40px;
    background: no-repeat center / cover;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    z-index: 1;
    color: #FFFFFF;
    font: bold 22px / 1.2 Raleway, sans-serif;
    text-decoration-line: underline;
    text-underline-position: under;
    text-transform: uppercase;
}

.card__text {
    position: relative;
    z-index: 1;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 1.2;
}

.lots__look-more-link {
    font-size: 20px;
    text-transform: lowercase;
    text-decoration: underline;
    display: block;
    padding: 30px 40px 0;
    cursor: pointer;
}

/*Section about*/
.about {
    display: grid;
    grid-template-columns: 1fr 693px;
    column-gap: 25px;
    margin-bottom: 181px;
}

.about__column_left {
    display: flex;
    justify-content: center;
}

.about__column_right {
    padding-top: 106px;
}

.about__logo {
    position: relative;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000000;
}

.about__logo-image {
    position: absolute;
    top: 64px;
    right: 0;
    left: 0;
    margin: 0 auto;
    max-width: 148px;
    height: 114px;
}

.about__title {
    font: bold 40px / 1 Raleway, sans-serif;
    text-transform: uppercase;
    padding-bottom: 100px;
}

.about__text {
    font-size: 20px;
}

.about__text p:first-child {
    padding-bottom: 24px;
    line-height: 1.24;
}

/* Footer */
.footer {
    display: flex;
    gap: 185px;
    justify-content: space-between;
    padding-bottom: 88px;
}

.footer__address {
    font: normal 18px / 1.35 Raleway, sans-serif;
}

.footer__menu {
    text-align: center;
    text-transform: lowercase;
}

.footer__menu-list {
    padding-left: 38px;
}

.footer__menu-link {
    font-size: 18px;
    text-decoration: underline;
    text-underline-position: under;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
}

.footer__social-list-item {
    cursor: pointer;
}

.footer__social-icon {
    max-width: 48px;
    max-height: 48px;
}